@inherits LayoutComponentBase

<div class="page">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="height:60px;width:100%">
            <NavMenu />
        </nav>

    <main style="position:absolute;top:70px">
        @Body
    </main>
</div>
